In [2]:
import pandas as pd

In [3]:
directory_file = 'C:\\tmp\\Arquivos'
        
df = pd.read_csv(directory_file+'\\teste.csv', encoding = 'utf-8', sep=';')

In [4]:
pd.set_option('max_colwidth', None)
df

                  Mandante                Visitante  Odds1  OddsX  Odds2
0                Fortaleza         Atlético Mineiro   2.83   3.03   2.65
1     Athletico Paranaense             Palmeiras SP   5.81   3.84   1.63
2                 Flamengo                Santos FC   1.62   4.24   5.56
3                  Brusque                      CRB   1.97   3.13   4.80
4                      CSA             Vila Nova GO   1.82   3.23   5.56
..                     ...                      ...    ...    ...    ...
470             Celtic U19  FC Shakhtar Donetsk U19   1.93   3.54   3.33
471  Borussia Dortmund U19             Man city U19   3.33   4.55   1.72
472            Benfica U19             Juventus U19   1.41   4.55   6.06
473         AZ Alkmaar U19    Red Star Belgrade U19   1.47   3.79   6.06
474            Palmeiras W        America de Cali W   2.17   3.28   3.13

[475 rows x 5 columns]

In [67]:
df['Odds2']= df['Jogos'].str[-4:]
df['OddsX'] = df['Jogos'].str[-8:-4]
df['Odds1'] = df['Jogos'].str[-9:-4]

In [88]:
df['Data'] = df['Jogos'].str.slice(0,5)

In [89]:
df

,Jogos,Odds,Data
0,19:00 Fortaleza Atlético Mineiro,2.903.132.58,19:00
1,20:45 Athletico Paranaense Palmeiras SP,5.303.641.74,20:45
2,20:45 Flamengo Santos FC,1.624.245.56,20:45
3,18:00 Brusque CRB,1.973.134.80,18:00
4,20:30 CSA Vila Nova GO,1.823.235.56,20:30
...,...,...,...
443,09:00 Paris Saint-Germain U19 Maccabi Haifa Shmuel U19,1.0811.1115.15,09:00
444,09:00 Celtic U19 FC Shakhtar Donetsk U19,1.933.543.28,09:00
445,10:00 Borussia Dortmund U19 Man city U19,4.044.551.63,10:00
446,10:00 Benfica U19 Juventus U19,1.414.446.06,10:00
447,12:00 AZ Alkmaar U19 Red Star Belgrade U19,1.463.796.57,12:00